
.bg-light-blue {
    background-color: var(--col-light-blue);
}
.bg-navy-blue {
    background-color: var(--col-navy-blue);
    color: white;
}
.bg-coral {
    background-color: var(--col-coral);
}
.bg-off-white {
    background-color: var(--col-off-white);
}
