.has-dark-color {
    color: var(--col-blue-400) !important;
}

.blue-100 {
    background-color: var(--col-blue-100);
}
.blue-200 {
    background-color: var(--col-blue-200);
}
.blue-300 {
    background-color: var(--col-blue-300);
}
.blue-400 {
    background-color: var(--col-blue-400);
}
.blue-900 {
    background-color: var(--col-blue-900);
    color: white;
}
.red-300 {
    background-color: var(--col-red-300);
}
.red-400 {
    background-color: var(--col-red-400);
}
.purple-300 {
    background-color: var(--col-purple-300);
}
.purple-400 {
    background-color: var(--col-purple-400);
}
.aqua-300 {
    background-color: var(--col-aqua-300);
}
.aqua-400 {
    background-color: var(--col-aqua-400);
}
.beige-300 {
    background-color: var(--col-beige-300);
}
.beige-400 {
    background-color: var(--col-beige-400);
}
