$col-primary: #00A0DE;
$col-dark: #00487C;
$col-darkest: #0D0630;
$col-highlight: #53DD6C;
$col-grey: #FFF0F0;

:root {

    // --col-blue-100: #a7cee9;
    // --col-blue-200: #92bfe4;

    // --col-blue-300: #35748b;
    // --col-blue-400: #005b7b;

    // --col-blue-900: #081422;

    // --col-red-300: #fa6a66;
    // --col-red-400: #ff4f4e;

    --col-light-blue: #95c1e9;
    --col-navy-blue: #0d1624;
    --col-coral: #ff554d;

    // --col-purple-300: #827886;
    // --col-purple-400: #5a4b5e;

    // --col-aqua-300: #4b839a;
    // --col-aqua-400: #005b7b;

    // --col-beige-300: #ece1d8;
    // --col-beige-400: #e7d2c9;

    --col-off-white-200: #f8f6f480;
    --col-off-white: #f8f6f4;

    --col-grey-200: #f5f5f5;
    --col-grey-400: #e6e6e6;
    --col-grey-600: #cccccc;


    --full-hero-height: 400px;
    --short-hero-height: 200px;


    // --fs-200: 14px;
    // --fs-300: 16px;
    // --fs-400: 18px;
    // --fs-500: 100px;
    // --fs-600: 26px;
    // --fs-700: 40px;
    // --fs-800: 50px;
    // --fs-900: 60px;

    --fs-100: 12px;
    --fs-200: 14px;
    --fs-300: 16px;
    --fs-400: 15px;
    --fs-500: 100px;
    --fs-600: 26px;
    --fs-700: 40px;
    --fs-800: 40px;
    --fs-900: 60px;

    --fw-400: 400;
    --fw-600: 600;

    --lh-300: 1.15;

    --shadow-out: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --shadow-in: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    --grid-gap: 1.5rem;

    --h-top: 58px;

}