.blog {
    font-size: var(--fs-400);
    // line-height: 1.36;
    // line-height: 1.4;
    line-height: 25px;

    .post_hero {
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .post_meta {
        .container-xl {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
        }
        color: var(--col-grey-600);

        &__left,
        &__right {
            display: flex;
        }

        &__back,
        &__title {
            font-weight: var(--fw-600);
            color: var(--col-grey-600);
        }
        &__date {
            &::before {
                content: "|";
                padding-left: 0.5rem;
            }
        }
        &__title {
            &::after {
                content: "|";
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                font-weight: var(--fw-400)
            }
        }
        &__back:hover {
            color: var(--col-navy-blue);
        }
        &__category a {
            font-weight: var(--fw-400) !important;
            color: var(--col-grey-600);
            &:hover {
                color: var(--col-navy-blue);
            }
        }
    }
}

